body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header button {
    padding: 10px 20px;
    background: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: background-color 0.3s ease;
}

header button:hover {
    background: #0056b3;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-content {
    margin: 20px 0;
}

.bio, .projects, .social-links {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-card h3 {
    margin-top: 0;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

.project-card a:hover {
    text-decoration: underline;
}

.social-links {
    text-align: center;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
}

.social-links img {
    width: 32px;
    height: 32px;
}
